body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

.header {
    height: 60vh;
}

.header:before {
    content: "";
    width: 100%;
    height: 60vh;
    background-color: transparent;
    z-index: -1;
}

.sub-cabecera {
    width: 100%;
    height: 60vh;
    background-image: url(../../img/ni%C3%B1os/fondo_aquakidsParty.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.sub-cabecera::before {
    content: "";
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
}

.c-sub {
    width: 80%;
    top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-sub h2 {
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 2px;
    top: -50px;
    opacity: 0;
    animation: texto-cabecera 2s .5s forwards;
}

.c-sub h3 {
    color: #fff;
    font-size: 4em;
    font-family: sans;
    font-weight: 100;
    letter-spacing: 5px;
    margin-top: 20px;
    opacity: 0;
    animation: texto-cabecera 2s 1s forwards;
}

.c-sub img {
    width: 180px;
    margin-top: 50px;
    opacity: 0;
    animation: texto-cabecera 2s 1.5s forwards;
}

.sub-cabecera div:last-child {
    width: 0%;
    height: 5px;
    background-color: #01affd;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    animation: ralla 3s 2s forwards;
}

.section-ninos {
    width: 100%;
    background-image: url(../../img/niños/tile-games-28de647ea04bdb18d4800eeed26fb073.png);
    padding-bottom: 150px;
}


.c-article {
    width: 80%;
    margin: auto;
}

.section-ninos .c-article .indicador a {
    color: #242424;
    font-size: 1.1em;
    text-decoration: none;
    position: relative;
    top: 32px;
    left: -10px;
}

.section-ninos .c-article .indicador p {
    color: #01affd;
    font-size: 1.1em;
    margin-left: 50px;
    position: relative;
    top: 10px;
    left: -11px;
}

.section-ninos .c-article a:hover {
    color: #01affd;
    transition: .4s;
}

.section-ninos .c-article img {
    width: 28%;
    margin-top: 80px;
    margin-left: 33%;
}

/*ANIMACIONES*/
@keyframes ralla {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes texto-cabecera {
    from {
        top: -50px;
        opacity: 0;
    }
    to {
        top: -20px;
        opacity: 1;
    }
}

/*MEDIA QUERIES*/
@media screen and (max-width: 950px) {
    .c-sub h3 {
        font-size: 3em;
    }
}

@media screen and (max-width: 750px) {
    .c-sub h2 {
        font-size: .9em;
    } 
    .c-sub h3 {
        font-size: 2em;
        text-align: center;
    }
    .sub-cabecera div:last-child {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .c-sub img {
        width: 70%;
    }
}